@font-face {
    font-family: 'OpenSans-Regular';
    src: 
        url("../resources/assets/fonts/OpenSans-Regular.woff2") format("woff2"),
        url("../resources/assets/fonts/OpenSans-Regular.woff") format("woff"),
        url("../resources/assets/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'OpenSans-SemiBold';
    src: 
        url("../resources/assets/fonts/OpenSans-SemiBold.woff2") format("woff2"),
        url("../resources/assets/fonts/OpenSans-SemiBold.woff") format("woff"),
        url("../resources/assets/fonts/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: 'OpenSans-SemiBoldItalic';
    src: 
        url("../resources/assets/fonts/OpenSans-SemiBoldItalic.woff2") format("woff2"),
        url("../resources/assets/fonts/OpenSans-SemiBoldItalic.woff") format("woff"),
        url("../resources/assets/fonts/OpenSans-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: 'OpenSans-Medium';
    src: 
        url("../resources/assets/fonts/OpenSans-Medium.woff2") format("woff2"),
        url("../resources/assets/fonts/OpenSans-Medium.woff") format("woff"),
        url("../resources/assets/fonts/OpenSans-Medium.ttf") format("truetype");
}

@font-face {
    font-family: 'OpenSans-MediumItalic';
    src: 
        url("../resources/assets/fonts/OpenSans-MediumItalic.woff2") format("woff2"),
        url("../resources/assets/fonts/OpenSans-MediumItalic.woff") format("woff"),
        url("../resources/assets/fonts/OpenSans-MediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: 'OpenSans-Light';
    src: 
        url("../resources/assets/fonts/OpenSans-Light.woff2") format("woff2"),
        url("../resources/assets/fonts/OpenSans-Light.woff") format("woff"),
        url("../resources/assets/fonts/OpenSans-Light.ttf") format("truetype");
}

@font-face {
    font-family: 'OpenSans-LightItalic';
    src: 
        url("../resources/assets/fonts/OpenSans-LightItalic.woff2") format("woff2"),
        url("../resources/assets/fonts/OpenSans-LightItalic.woff") format("woff"),
        url("../resources/assets/fonts/OpenSans-LightItalic.ttf") format("truetype");
}

@font-face {
    font-family: 'OpenSans-Italic';
    src: 
        url("../resources/assets/fonts/OpenSans-Italic.woff2") format("woff2"),
        url("../resources/assets/fonts/OpenSans-Italic.woff") format("woff"),
        url("../resources/assets/fonts/OpenSans-Italic.ttf") format("truetype");
}

@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: 
        url("../resources/assets/fonts/OpenSans-ExtraBold.woff2") format("woff2"),
        url("../resources/assets/fonts/OpenSans-ExtraBold.woff") format("woff"),
        url("../resources/assets/fonts/OpenSans-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: 'OpenSans-ExtraBoldItalic';
    src: 
        url("../resources/assets/fonts/OpenSans-ExtraBoldItalic.woff2") format("woff2"),
        url("../resources/assets/fonts/OpenSans-ExtraBoldItalic.woff") format("woff"),
        url("../resources/assets/fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: 
        url("../resources/assets/fonts/OpenSans-Bold.woff2") format("woff2"),
        url("../resources/assets/fonts/OpenSans-Bold.woff") format("woff"),
        url("../resources/assets/fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'OpenSans-BoldItalic';
    src: 
        url("../resources/assets/fonts/OpenSans-BoldItalic.woff2") format("woff2"),
        url("../resources/assets/fonts/OpenSans-BoldItalic.woff") format("woff"),
        url("../resources/assets/fonts/OpenSans-BoldItalic.ttf") format("truetype");
}