:root{

    --wa-white: #FFFFFF;
    --wa-black: #000000;
    --wa-deep-blue: #000271;
    --wa-gray: #808080;
    --wa-dr-white: #FAFAFA;
    --wa-leadbelcher: #CACACA;
    --wa-platinum: #E8E8E8;
    --wa-cold-blue: #565791;
    --wa-red: #FF0000;
    --wa-green: #6FA66F;

}