:root{

    --wa-white: #FFFFFF;
    --wa-black: #000000;
    --wa-deep-blue: #000271;
    --wa-deep-blue-op10: #00027110;
    --wa-gray: #808080;
    --wa-dr-white: #FAFAFA;
    --wa-leadbelcher: #CACACA;
    --wa-platinum: #E8E8E8;
    --wa-cold-blue: #565791;
    --wa-red: #FF0000;
    --wa-green: #6FA66F;
    --wa-ad: #FEFFBE;

    --wa-font-family-regular: 'OpenSans-Regular';
    --wa-font-family-semibold: 'OpenSans-SemiBold';
    --wa-font-family-semibolditalic: 'OpenSans-SemiBoldItalic';
    --wa-font-family-medium: 'OpenSans-Medium';
    --wa-font-family-mediumitalic: 'OpenSans-MediumItalic';
    --wa-font-family-light: 'OpenSans-Light';
    --wa-font-family-lightitalic: 'OpenSans-LightItalic';
    --wa-font-family-italic: 'OpenSans-Italic';
    --wa-font-family-extrabold: 'OpenSans-ExtraBold';
    --wa-font-family-extrabolditalic: 'OpenSans-ExtraBoldItalic';
    --wa-font-family-bold: 'OpenSans-Bold';
    --wa-font-family-bolditalic: 'OpenSans-BoldItalic';

}