html, body{
    font-family: var(--wa-font-family-regular);
    font-size: var(--wa-font-size-md);
    margin: var(--wa-spacing-00);
    padding: var(--wa-spacing-00);
}

h1, h2, h3, h4, h5, h6{
    font-weight: normal;
    font-style: normal;
    font-family: var(--wa-font-family-semibold);
}

@media (min-width: 768px){
    .hide-desktop{
        display: none;
    }
}

.hidden{
    display: none;
}

input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #00000040;
    padding: var(--wa-spacing-00);
    box-shadow: none;
    outline: none;
    transition: all .8s ease-in-out;
    font-size: var(--wa-font-size-md);
    box-sizing: border-box;
    padding: var(--wa-spacing-02) var(--wa-spacing-00);
    &:focus{
        border-bottom: 2px solid var(--wa-deep-blue);
    }
    &::placeholder{
        color: #00000070;
    }
}

select{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #00000040;
    padding: var(--wa-spacing-00);
    box-shadow: none;
    outline: none;
    transition: all .8s ease-in-out;
    font-size: var(--wa-font-size-md);
    box-sizing: border-box;
    &:focus{
        border-bottom: 2px solid var(--wa-deep-blue);
    }
}

button, a{
    &.btn{
        min-width: 150px;
        padding: var(--wa-spacing-03) var(--wa-spacing-04);
        text-transform: uppercase;
        border-radius: var(--wa-size-border-radius-01);
        border: none;
        cursor: pointer;
        font-size: var(--wa-font-size-md);
        transition: all .5s ease;
        text-decoration: none;
        &.btn-primary{
            background-color: var(--wa-deep-blue);
            color: var(--wa-white);
            &:hover{
                opacity: .85;
            }
        }
    }
    &.btn-small{
        font-size: 14px;
        min-height: 32px;
        padding: var(--wa-spacing-00) var(--wa-spacing-03);
    }
}

hr{
    &.separator{
        height: 1px;
        background-color: var(--wa-leadbelcher);
        border: none;
        width: 100%;
    }
}

.loading-skeleton{
    overflow: hidden;
    background: var(--wa-leadbelcher);
    border-radius: var(--wa-size-border-radius-01);
    &:before{
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        animation: loadingSkeleton 1s infinite;
        background: linear-gradient(to right, transparent,#D9D9D9,transparent);
    }
}